

/* Messages*/
.messagepane {
  background-color: #ffbc51;
  border: 4px solid #b8bcb5;
  position: fixed;
  top: 0.45%;
  left: 31%;
  bottom: 1%;
  height: 100%;
  width: 69%;
  padding: 10px;
}

.messagepane .current_room {
  margin: 10px;
  padding: 10px;
}

.chatBox {
  position: fixed;
  top: 90%;
  left: 31%;
  bottom: 1%;
  width: 72%;
  padding: 1px;
}

.chatBox .chatBar {
  position: inherit;
  border: 2px solid #b8bcb5;
  height: 40px;
  width: 90%;

}

.new-room-modal {
  margin: 20%;
  border: 1px solid #b8bcb5;
  text-align: center;
}


/* sidebar */

.sidebar {
  position: fixed;
  background-color: #d5dce8;
  float: left;
  height: 100%;
  width: 30%;
  margin: 5px;
  padding: 10px;
  border: 2px solid #b8bcb5;
}
